@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
* {
    font-family: 'Calistoga', cursive;
    margin: 0;
    padding: 0;
    color: black;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    width: auto;
    height: 70px;
    background-color: rgb(53, 199, 150);
    justify-content: flex-end;
    align-items: center;
}

h1 {
    color: white;
    position: absolute;
    left: 0;
    margin-left: 50px;
    padding: 5px;
}

h1:hover {
    background-color: orange;
    color: white;
    border-radius: 10px;
}

menu {
    display: flex;
    width: auto;
    height: 50px;
    /* border: solid rgb(14, 14, 13); */
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-right: 50px;
}

li {
    color: black;
    display: flex;
    margin-right: 50px;
    justify-content: center;
    /* border: solid black; */
    margin: 30px;
    /* padding: 5px; */
}

.contact {
    color: orange;
}

a {
    padding: 10px;
}

li a:hover {
    background-color: orange;
    color: white;
    /* border: solid orange; */
    border-radius: 10px;
}

.contact:hover {
    background-color: rgb(53, 199, 150);
    color: orange;
    /* border: solid rgb(53, 199, 150); */
    border-radius: 10px;
}

.part3 {
    display: flex;
    align-items: center;
    align-content: center;
    width: auto;
    height: 300px;
}

.part3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33.3%;
    height: 300px;
    /* border: solid black 2px; */
}

.center a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.center {
    background-color: orange;
}

.center:hover {
    background-color: rgb(250, 204, 104);
}

footer {
    display: flex;
    height: 80px;
    background-color: rgb(53, 199, 150);
    justify-content: center;
    align-items: center;
}