@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
* {
    font-family: 'Calistoga', cursive;
    margin: 0;
    padding: 0;
    color: black;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}


/* -------------------------------------------------------------------------- */


/*                              conception header                             */


/* -------------------------------------------------------------------------- */

header {
    display: flex;
    width: auto;
    height: 70px;
    background-color: rgb(53, 199, 150);
}

h1 {
    font-size: 30px;
    color: white;
    position: absolute;
    margin-left: 50px;
    padding: 5px;
}

h1:hover {
    background-color: orange;
    color: white;
    border-radius: 10px;
}


/* -------------------------------------------------------------------------- */


/*                             conception du menu                             */


/* -------------------------------------------------------------------------- */

menu {
    display: flex;
    width: auto;
    height: 50px;
    list-style-type: none;
    margin-right: 50px;
}

li {
    margin: 20px;
    color: black;
}

.accueil {
    color: orange;
}

a {
    margin: 0px;
    font-size: 15px;
}

li a:hover {
    background-color: orange;
    color: white;
    border-radius: 5px;
}

.accueil:hover {
    background-color: rgb(53, 199, 150);
    color: orange;
    border-radius: 10px;
}


/* -------------------------------------------------------------------------- */


/*                            conception background                           */


/* -------------------------------------------------------------------------- */

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url("/img/fondcode2.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
}

.titrebackground {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: px;
    color: white;
}

div.titrebackground p {
    font-size: 30px;
}

p.titrebienvenue {
    font-size: 20px;
}

.titrebackground a {
    display: flex;
    width: 100px;
    height: auto;
    justify-content: center;
    color: black;
    background-color: white;
    border: solid orange 2px;
    border-radius: 10px;
}

.titrebackground a:hover {
    background-color: orange;
    color: white;
    border-radius: 10px;
}

.colorcoder {
    color: orange;
}


/* -------------------------------------------------------------------------- */


/*                              Concpetion part 2                             */


/* -------------------------------------------------------------------------- */

.part2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
}

.part2 div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: black;
}

.imagleft {
    display: flex;
    flex-direction: column;
    background-image: url(/img/codedynamique.jpg);
    background-size: cover;
}

.imagright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.imagright h2 {
    color: white;
}

.imagright p {
    width: 80%;
    height: 50%;
    color: white;
    text-align: justify;
}

.imagright a {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-color: white;
    border: solid orange 2px;
    border-radius: 10px;
}

.imagright a:hover {
    background-color: orange;
    color: white;
    border-radius: 10px;
}

.colororange {
    color: orange;
}


/* -------------------------------------------------------------------------- */


/*                              conception part 3                             */


/* -------------------------------------------------------------------------- */

.part3 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 400px;
}

.part3 div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 260px;
    font-size: 12px;
}

.center a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 12px;
}

.center {
    background-color: orange;
}

.center:hover {
    background-color: rgb(250, 204, 104);
}


/* -------------------------------------------------------------------------- */


/*                              conception footer                             */


/* -------------------------------------------------------------------------- */

footer {
    display: flex;
    height: 20px;
    background-color: rgb(53, 199, 150);
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 8px;
}