@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
* {
    font-family: 'Calistoga', cursive;
    margin: 0;
    padding: 0;
    color: black;
    /* margin-left: 50px;
    margin-right: 50px; */
    /* background-image: url(/img/codedynamique.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

a {
    text-decoration: none;
}

header {
    display: flex;
    width: auto;
    height: 70px;
    background-color: rgb(53, 199, 150);
    justify-content: flex-end;
    align-items: center;
}

h1 {
    color: white;
    position: absolute;
    left: 0;
    margin-left: 50px;
    padding: 5px;
}

h1:hover {
    background-color: orange;
    color: white;
    border-radius: 10px;
}

menu {
    display: flex;
    width: auto;
    height: 50px;
    /* border: solid rgb(14, 14, 13); */
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-right: 50px;
}

li {
    color: black;
    display: flex;
    margin-right: 50px;
    justify-content: center;
    /* border: solid black; */
    margin: 30px;
    /* padding: 5px; */
}

.apropos {
    color: orange;
}

a {
    padding: 10px;
}

li a:hover {
    background-color: orange;
    color: white;
    /* border: solid orange; */
    border-radius: 10px;
}

.apropos:hover {
    background-color: rgb(53, 199, 150);
    color: orange;
    /* border: solid rgb(53, 199, 150); */
    border-radius: 10px;
}

.part1 {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    width: auto;
    height: 400px;
}

.aproposs {
    color: orange;
}

.divleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 400px;
}

.divright {
    display: flex;
    align-items: center;
    width: 50%;
    height: 400px;
}

.imageronde {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: flex-start;
    background-image: url(/img/codetube.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: circle();
}

.part2 {
    margin-left: 50px;
    width: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part2 h2 {
    width: 70%;
    height: 50px;
    color: orange;
}

.part2 p {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    width: 70%;
    height: 50px;
    border: solid orange 2px;
    border-radius: 10px;
    text-align: justify;
    justify-content: space-around;
}

footer {
    display: flex;
    height: 80px;
    background-color: rgb(53, 199, 150);
    justify-content: center;
    align-items: center;
}